[Unit]
Description=TUXEDO Keyboard Idler

[Service]
Type=simple
Restart=on-failure
RestartSec=3s
ExecStart=/bin/sudo /opt/tuxedo-keyboard-tools/idle.sh 0:0:29

[Install]
WantedBy=default.target
